<h2>Timesheet</h2>
<%= form_tag({:controller => 'exporter', :action => 'export'}, :method => 'get') do %>
	<div class="box tabular">
		<p><%= label_tag(:dataInicio, "Data de início do período:") %>
		<%= text_field_tag(:dataInicio) %></p>
		<p><%= label_tag(:dataTermino, "Data de fim do período:") %>
		<%= text_field_tag(:dataTermino) %></p>
	</div>
	<%= submit_tag("Excel") %><%= submit_tag("CSV") %>
<% end %>
<script src="/javascripts/i18n/datepicker-pt-BR.js?1431245373" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
(function($, datePickerOptions) { 
	$('#dataInicio,#dataTermino').datepicker(datePickerOptions); 
})(jQuery, {dateFormat: 'dd/mm/yy', firstDay: 1, showOn: 'button', buttonImageOnly: true, buttonImage: '/images/calendar.png?1431245373', showButtonPanel: true, showWeek: true, showOtherMonths: true, selectOtherMonths: true, changeMonth: true, changeYear: true});
//]]>
</script>