<h2>Timesheet</h2>
<fieldset>
	<legend>Filtro:</legend>
<%= form_tag({controller: "exporter", action: "export"}, method: "get") do %>
  <%= label_tag(:dataInicio, "Data início:") %>
  <%= text_field_tag(:dataInicio) %>
  <%= label_tag(:dataTermino, "Data término:") %>
  <%= text_field_tag(:dataTermino) %>
  <%= submit_tag("Exportar") %>
  <%= date_field(:user, :born_on) %>
<% end %>
</fieldset>
<p>
<h3>Lançamentos de <%= @inicio %> até <%= @fim %></h3>
<ul>
<% @timeEntries.each do |t| %>
  <li>
  	<%= "#{t.user.name}, #{t.spent_on}, #{t.hours}, #{t.comments}" %>
  </li>
<% end %>
</ul></p>