<h2>Timesheet</h2>
<fieldset>
	<legend>Filtro:</legend>
<%= form_tag({controller: "exporter", action: "export"}, method: "get") do %>
  <%= label_tag(:dataInicio, "Data início:") %>
  <%= text_field_tag(:dataInicio) %>
  <%= label_tag(:dataTermino, "Data término:") %>
  <%= text_field_tag(:dataTermino) %>
  <%= submit_tag("Exportar") %>
<% end %>
</fieldset>
<p>
<% if @timeEntries %>
<h3>Lançamentos de <%= @inicio %> até <%= @fim %></h3>
<ul>
	<% @timeEntries.each do |t| %>
	  <li>
	  	<%= "#{t.user.name}, #{t.spent_on}, #{t.hours}, #{t.comments}" %>
	  </li>
	<% end %>
</ul>
<% end %>
</p>
<script src="/javascripts/i18n/datepicker-pt-BR.js?1431245373" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
(function($, datePickerOptions) { 
	$('#dataInicio,#dataTermino').datepicker(datePickerOptions); 
})(jQuery, {dateFormat: 'yy-mm-dd', firstDay: 1, showOn: 'button', buttonImageOnly: true, buttonImage: '/images/calendar.png?1431245373', showButtonPanel: true, showWeek: true, showOtherMonths: true, selectOtherMonths: true, changeMonth: true, changeYear: true});
//]]>
</script>